################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/test.py
/.vs/Cipher_of_Caesar/v15/.suo
/Cipher_of_Caesar.pyproj
